{% extends "base.html" %}

{% block title %}
    Programa
{% endblock %}
{% block content %}

<div id="prediction-container" class="container-fluid runs mt-4">
  <iframe
    width="600"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?q=42%20Lisboa&key={{ google_map_api_key }}">
  </iframe>
  <div class="run-modal">
    <div>
      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">"Localização"</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
              <div class="d-flex flex-row justify-content-around">
                <div>
                  <img src="https://static.javatpoint.com/ds/images/line-graph2.png" alt="visual" width="400" height="400">
                </div>
                <div class="d-flex flex-column justify-content-around">
                  <div>
                    <h5>Metrica 1</h5>
                    <p>valores</p>
                  </div>
                  <div>
                    <h5>Metrica 2</h5>
                    <p>valores</p>
                  </div>
                  <div>
                    <h5>Metrica 3</h5>
                    <p>valores</p>
                  </div>
                  <div>
                    <h5>Metrica 4</h5>
                    <p>valores</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="mx-auto">
      Previsões
    </h3>
    <div class="entry-wrap">
      <div class="scrollable-box">
        {% for item in items %}
            <div class="item">{{ item }}
              <!-- Modal Button (Modal is the popup card) -->
              <button type="button" class="btn btn-primary" data-id="{{item}}" data-toggle="modal" data-target="#myModal">
                  Abrir
              </button>
            </div>
        {% endfor %}
      </div>
    </div>
    <button type="button" class="add" onclick="showEditPredictionPage()">
      Adicionar Pontos
    </button>
  </div>
</div>

<div id="edit-prediction-container" class="runs">
  <div class="container">
    <div class="row ma-0 pa-0">
      <div class="col ma-0 pa-0" style="padding-right: 5px;">
        <div id="map" style="height: 450px;"></div>
      </div>

      <div class="col run-model ma-0 pa-0" style="padding-right: 0px;">
        <div class="d-flex flex-row justify-content-between">
          <h3 class="my-auto">
            Adicionar Pontos
          </h3>
        </div>

        <div id="add-new-pins"></div>

        <div class="d-flex flex-row justify-content-between">
          <div class="d-flex flex-row">
            <button type="button" onclick="addNewDraggablePoint('fixed')">Adicionar ponto fixo</button>
            <button type="button" style="margin-left: 10px;" onclick="addNewDraggablePoint('mobile')">Adicionar ponto móvel</button>
          </div>
          <button type="button" class="" onclick="showPredictionPage()">Voltar</button>
        </div>
        </div>
      </div>

      <div class="mx-20">
